@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --primary-color:#02836F;
    --white:#fff;
    --font-primary: 'Poppins', sans-serif;
}
body{
    font-family: var(--font-primary);
}